


<div class="runnable-example"
    path="examples/example-example-sofa-namespace41"
    name="example-sofa-namespace">

 
  <div class="runnable-example-file" 
    name="index.html"
    language="html"
    type="html">
    <pre><code>Hello</code></pre>  
  </div>

  <div class="runnable-example-file" 
    name="app.js"
    language="js"
    type="js">
    <pre><code>var foo = &#39;bar&#39;;&#10;alert(&#39;Hi ingo&#39;);</code></pre>  
  </div>


  <iframe class="runnable-example-frame" src="examples/example-example-sofa-namespace41/index.html" name="example-example-sofa-namespace41"></iframe>
</div>


